<nav>
    <ul>
        <li style="float:right"><a href=".">いいね</a></li>
        <li style="float:right"><a href=".">メディア</a></li>
        <li style="float:right"><a href=".">ツイートと返信</a></li>
        <li style="float:right"><a href=".">ツイート</a></li>
    </ul>
</nav>