/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#sidebar {
    width: 720px; float: left;
    line-height:70px;
}

#content {
    width: 220px; float: right;
}

side ul {
    list-style-type: none;
}

side li a {
    text-decoration: none;
    padding: 8px;
    color: #000
}

side li a:hover {
    background-color: #555;
    color: white;
}

back {
    background-color: #3399FF;
    border-radius: 30px;
    margin-left: 20px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 85px;
}

nav li a {
    text-decoration: none;
    padding: 8px;
    color: #000
}

nav li a:hover {
    background-color: #555;
    color: white;
}
